<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnabledDate</key>
	<string>2016-06-15 11:22:15 +0100</string>
	<key>EnabledUser</key>
	<string>camyule</string>
	<key>HardwareUUID</key>
	<string>A796A540-6045-53D0-A145-33F30152B084</string>
	<key>LVUUID</key>
	<string>FF5AAC5B-6184-4C94-A954-51BF88345185</string>
	<key>RecoveryKey</key>
	<string>PJNP-JVML-NHZD-ROEV-DQRV-WJB4</string>
	<key>SerialNumber</key>
	<string>C02H417NDV17</string>
</dict>
</plist>
